
h1 {    
    color:rgb(52,40,186); /* Sets text colour to dark blue */
    font-family: 'Arial'; /* Uses Arial font */
    font-size: 30px; /* Sets font size to 30px */
}

h2 {
    color:rgb(52,40,186); /* Sets text colour to dark blue*/
    font-family: 'Arial'; /* Uses Arial font */
    font-size: 25px; /* Sets font size to 30px */
}

body {  
    background-color: #BFEFFF; /* Sets background colour to light blue*/
}

.profile {  
    display: flex; /* Enables Flexbox layout for side-by-side arrangement */
    align-items: flex-start; /* Aligns items to the top */
    gap: 60px; /* Adds 60px space between the text and the photo */
}

.profile-text {
    flex: 1; /* Allows the text section to grow and fill avaialble space */
    min-width: 50%; /* Ensures text area takes at least half the row */
}

.profile-photo {    
    flex: 0 0 220px; /* Fixed width of 220px, won’t grow or shrink */
    margin-right: 60px; /* Adds space between photo and page edge */
}

.profile-photo img {
    display: block; /* Removes bottom inline spacing around the image */
    width: 100%; /* Makes the image fill its container */
    border-radius: 100%; /* Crops the image into a circle */
}

.subject {  
    display: flex; /* Enables Flexbox layout for side-by-side arrangement */
    align-items: flex-start;
    gap: 60px
}